<div class="container-fluid">
	<div class="main-spacer">
		<div class="text-wrapper">
			<div class="header">
				<h1>Um kennsluleiðbeiningarnar</h1>
			</div>
			<div class="text-body">

				<p>
					Kennsluleiðbeiningarnar eru hugsaðar fyrir kennara til að kynnast vissum tegundum bóka sem hann getur svo nýtt í kennslu sinni. 
					Bækurnar getur kennari notað sem hluta af verkefni og viðfangsefni eða umgjörð um það. 
					Einnig getur bókagerð verið sjálfstætt viðfangsefni til að kenna nemendum fjölbrettar leiðir sem hægt er að fara við útfærslur og skil verkefna.
				</p>
				<p>
					Um er að ræða nokkrar tegundir bóka en umfang þeirra flestra og framkvæmd miða við þau tæki og tól sem eru nú þegar til staðar í flestum kennslustofum, vinnuherbergjum kennara eða öðru sambærilegu. 
					Það ætti að auðvelda kennararnum alla skipulagningu og  gera honum kleift að verja þá meiri tíma til hagkvæmari undirbúnings en að fara á milli stofa til verða sér út um efni og verkfæri. 	
				</p>
				<p>
					Á vefsíðunni eru eingöngu leiðbeiningar fyrir bókagerðina sjálfa og eru þær hugsaðar til að auka fjölbreytileika í kennslu en ekki gefin ítarleg dæmu um samþættingu við ákveðin fög. 
					Um er að ræða leiðbeiningabanka sem kennari getur leitað í til að flétta bókagerð inn í kennslu sína á þann hátt sem hann sér möguleika fyrir. 
					Þannig er síðan hugsuð sem grundvöllur fyrir kennara til að fá hugmyndir út frá og stuðla þannig að fjölbreytileika í kennslu sinni.
				</p>
			</div>
			<div class="sub-header">
				<h3>Uppbygging síðunnar</h3>
			</div>
			<div class="text-body">
				<p>
					Á upphafssíðu birtast myndir af hverri bókategund fyrir sig. Þegar smellt er á myndirnar birtist myndband (Kynning) sem sýnir hvernig hver bókategund er gerð. 
				</p>
				<p>
					<strong>Kynning </strong>er hugsuð sem leið til að kynna fyrir nemendum hvernig hægt er að búa til tiltekna tegund bókar með því að horfa á vinnuferlið frá upphafi til enda. 
				</p>
				<p>
					<strong>Bókagerðin skref fyrir skref </strong> er hugsað þannig að hægt er að láta hverja myndbandseiningu ganga stöðugt uppi á töflu þar til allir hafa náð tökum á þeim lið bókagerðarinnar. Kennarinn getur verið með sýnikennslu samhliða, gengið á milli og ekki er síður mikilvægt að hvetja nemendur til að hjálpa hverjum öðrum og deila ólíkum lausnarleiðum með samnemendum sínum. Þannig getur verið gott ráð að fá þá nemendur, sem þegar hafa nóð góðum tökum á tilteknu skrefi eða bókagerðinni í heild, til þess að aðstoða og kenna samnemendum sínum. Einnig er hægt að skipta nemendum í hópa sem vinna saman skref fyrir skref með myndbandseiningarnar til hliðsjónar.
				</p>
				<p>
					Hliðarstikan hefur að geyma ýtarefni og gagnleg ráð og hugmyndir fyrir áhugasama. Þar er einnig að finna <strong>Ljósmyndir með skriflegum leiðbeiningum</strong> sem hægt er að prenta út og dreifa til nemenda. ljósmyndir eru merktar þannig að auðvelt er að fylgja þeim samhliða myndbandseiningunum bókagerðin skref fyrir skref.
				</p>
			</div>
		</div>
	</div>
</div>
