<div class="container-fluid">
	<div class="main-spacer">
		<div class="text-wrapper">
			<div class="header">
				<h1>Efniviður og umgengni </h1>
			</div>
			<div class="text-body">

				<h3>Efniviður</h3>
				<p>
					Efniviðurinn sem hægt er að nota í bókagerð getur verið ólíkur frá ýmsum sjónarhornum séð. Ekki öll efni endast jafn vel. Það er ótvíræður kostur ef efniviðurinn þjónar þeim tilgangi að bækurnar endist sem lengst. Hins vegar getur efniviðurinn verið dýr og ekki aðgengilegur í bekkjarkennslu. Markmiðið með nýtingu bókagerðar í námi og kennslu er hins vegar ekki að skapa verk sem eru efnislega áþreifanleg um aldur og ævi. Það er merkingin, upplifunin og lærdómurinn sem af því hlýst að vinna með bókagerð sem skipir máli í þessu samhengi. Því eru kennarar og nemendur hvattir til að einbeita sér að lausnum sem eru hagnýtar og stuðla að endurnýtingu hvers kyns efniviðar.   
				</p>
				<h3>Nýtið efniviðinn</h3>
				<p>
					Hvettu nemendur til að endurrýta hin ýmsu efni og pappír. Sem dæmi geta afklippur, gjafapappír og annað sem oft endar í ruslinu getur verið kjörinn efniviður til að skreyta með. Ýmsar umbúðir, pakkar utan af morgunkorni og pizzakassar henta einnig vel til bókagerðar. Þessi efniviður hefur oft að geyma myndskreytingu, letur, tákn og liti sem nemendur geta unnið með. 
				</p>
				<p>
					Endurnýting efnis getur haft ýmsa kosti í för með sér og ekki síst ef nemendur skynja gildi endurnýtingarinnar sem óendanlega uppsprettu sköpunar. Allt í kringum okkur er efniviður sem fellur til þar sem við teljum líftíma hans lokið. Ef við reynum að breyta þessu viðhorfi getur það orðið þess valdandi að við berum meiri viðringu fyrir hlutunum í kringum okkur. Við förum að sjá notagildi í hinu ónothæfa og ekki síst getum við lært að meta fegurina sem leynist á hinum ólíklegustu stöðum.  
				</p>
				<p>
					Ath gjafaefni...prentsmiðjur fyrirtæki og þeir sem prenta umbúðir utan af vörum
				</p>
				<h3>Efnissöfnun bekkjarins</h3>
				<p>
					Bekkurinn getur sem heild safnað í bókagerðarsarp. Nemendur eru hvattir til að horfa gagnrýnum augum á það rusl sem fellur til innan heimilisins, skólans eða hvar sem þeir koma. Sjái nemendur eitthvað sem þeir telja að geti nýst bekknum í bókagerð fer það í bókagerðarsarpinn.
				</p>
				<p>
					Til að koma í veg fyrir óreiðu er gott að búa til ákveðna flokka, og t.d. merkja nokkra kassa eða ílát eftir innihaldi. Bekkurinn þarf að setja sér ákveðnar umgengnisreglur eins og að allt eigi sinn stað og mikilvægt er að brýna fyrir nemendum að það sem komið er með sé hreint og engar matarleyfar eru leyfilegar. 
				</p>
				<p>
					Dæmi um flokka í bókagerðarsarpinum: 
					<ul>
						<li>
							Stórar afklippur (pappír, tímarit, efni, og plast) 
						</li>	
						<li>
							Litlar afklippur (pappír, tímarit, efni, og plast)
						</li>	
						<li>
							Heil blöð (sem búið er að prenta, ljósrita, skrifa á)
						</li>	
						<li>
							Morgunkornnspakkar og pizzakassar (bara lokin því botnar eru oft óhreinir)
						</li>	
						<li>
							Bönd, snæri, garn, borðar
						</li>	
						<li>
							Ónýtir pennar, gamlir íspinnar o.fl
						</li>
						<li>
							Gömul tímarit
						</li>	
					</ul>
				</p>						
				<p>
					Sé efniviður flokkaður líkt og dæmi er gefið um hér að ofan geta nemendur gengið að honum vísum og öll hugmyndavinna verður auðveldari. Sama gildir um annan pappír og áhöld sem til staðar eru fyrir. Það er ekki síður miklvægt að leggja áherslu á að virðing sé borin fyrir flokkunum því annars er í raun tilgangslaust að hafa þá. Allir hlutir, bæði efniviður og áhöld, eiga sinn stað og þangað eiga þeir að fara að lokinni notkun.
				</p>
				<p>
					Í bókagerð kemur lím oft við sögu en einnig þarf að gata sumar bækur með teiknibólum eða öðru beittu. Þá er mikilvægt að hlífa borðum sem unnið er á:
					<ul>
						<li>
							Það getur verið gott að bekkurin eigi safn af morgunkornspökkum til að nota sem undirlag. Einnig getur hver og einn nemendi átt sitt undirlag sem hann útbýr og ber ábyrgð á. 
						</li>
						<li>
							Það er einnig hægt að nota ónýt blöð og þá er snjallt að brjóta límið inn á við (brjóta blaðið í tvennt) áður en næsti hluti bókarinnar er límdur. Þannig má koma í veg fyrir að lím smitist frá hlífðarblaðinu yfir á bókina.  
						</li>
						<li>
							Hægt er að brjóta pizzakassa saman nokkrum sinnum þar til hann er nægilega þykkur til að nota sem undirlag þegar stungið er í gegnum pappírinn. Þessi aðferð er notuð í leiðbeiningum með Saumaðri bók (sjá <a href= "#/saumudbok/">hér</a>.
						</li>
					<ul>
				</p>


								
			</div>
		</div>
	</div>
</div>
