<div class="container-fluid">
	<div class="main-spacer">
		<div class="text-wrapper">
			<div class="header">
				<h1>Góð ráð fyrir kennslu í bókagerð</h1>
			</div>
			<div class="text-body">

				<ul>
					<li>
						Skiptið ferlinu í eins smáar og einfaldar einingar og hægt er. Á vefsíðunni má finna myndbönd sem leiða áhorfendur í gegnum bókagerð skref fyrir skref í smáum einingum. 
					</li>
					<li>
						Þegar unnið er með smáar einingar í einu þurfa allir að vera samtaka. Það þýðir ekki að allir furfi að vinna jafn hratt heldur vinnur hóprinn sem eining. Það er ekki gagnlegt fyrir þig né hópinn að leyfa neinum að fara fram úr. Hér getur verið gott að nota kjörorð eins og „Enginn er búinn fyrr en allir eru búnir“. Þannig bera nemendur sameiginlega ábyrgð á því að öllum vegni vel. Á meðan einhver hefur ekki náð tökum á tilteknu skrefi er alltaf verkefni fyrir höndum, þ.e. aðstoða og leiðbeina þeim sem eru enn að. 
					</li>
					<li>
						Ef ætlunin er að ræða við nemendur áður en bókagerðin hefst er ekki ráðlegt að hafa efnivið og áhöld uppi á borðum. Athygli nemenda mun beinast að efniviðnum og þú munt þurfa að keppa við hann um athygli nemenda. 
					</li>
					<li>
						Vertu sveigjanleg(ur) og taktu því fagnandi ef nemendur finna nýjar leiðir. Gefðu hugmyndum þeirra gaum og hvettu þau til að deila hugmyndum sínum með öðrum.
					</li>
					<li>
						Ef nemendur vinna í hópum getur verið gott að skipa í ákveðin hlutverk. Þannig bera allir hópmeðlimir ábyrgð á heildarútkomu hópsins. Brýnið fyrir nemendum að öll hlutverkin eru jafn mikilvæg því ef einhver sinnir ekki sínu kemur það niður á hópnum í heild. Hlutverkin geta faið í sér ábyrgð á inntaki, þ.e. skrifuðum texta eða myndskreytingu og svo umgjörð, þ.e. bókagerðinni sjáfri. Það getur verið gaman að upphefja hlutverkaheitin. Þá geta þeir sem skrifa texta verið skriftarsérfræðingar, þeir sem myndskreyta verið myndlistarmenn hópsins og þeir sem annast bókagerðina sjálfa geta verið bókbandsmeistarar o.s.frv.
					</li>
					<li>
						Það er ráðlegt að gera prufubækur áður en þú leggur bókagerðina fyrir nemendur. Þá verður auðveldara að aðstoða nemendur og útsýra það sem gert er. Það fer vissulega svolítill tími í það en þá er gagnlegt að líta á þann tíma sem eins konar fjárfestinu því ef upplifun þín og nemenda af bókagerðinni er jákvæð getið þið gripið til hennar hvenær sem er síðar meir. 
					</li>
					<li>
						Hvetjið nemendur til að nýta bókagerðina í útfærslum annara viðfangsefna og verkefna. Efni og áhöld ættu að vera á aðgengilegum stað en ef rúm leyfir er hægt að útbúa bókagerðarstöð þar sem nemendur geta unnið sjálfstætt. (sjá nánar um efnisnotkun <a href="">hér</a>)
					</li>
					<li>
						Þegar nemendur fá hugmynd að nýrri bók eða ákveða að þróa bókategund sem þeim hefur verið kennd er ráðlegt að þeir geri prufubók. Þannig er ekki hundrað í hættunni ef eitthvað mistekst. Miðlið til nemenda því viðhorfi að „mistökin“ fela í sér tækifæri. Þau hjálpa okkur að fá nýjar og jafnvel betri hugmyndir! Það er því mikill lærdómur í því fólginn að takast á við það sem misórst og finna leiðir til að vinna sig út úr því í stað þess að gefast upp og fallast hendur.
					</li>
			</div>
		</div>
	</div>
</div>
