<div class="container-fluid">
	<div class="main-spacer">
		<div class="text-wrapper">
			<div class="header">
				<h1>Hönnun og útlit</h1>
			</div>
			<div class="text-body">

				<h3>Hvað á bókin að segja</h3>
				<p>
					Þegar bók er hönnuð eða skreytt er gott að spyrja sig hvaða tilgangi á bókin að þjóna og hvaða skilaboð hefur hún að geyma. Þá er átt við að við spyrjum okkur hvernig getur útlit bókarinnar styrkt inntak hennar. Þá getur gegnir efniviðurinn sem við veljum lykilhlutverki. 
					Efniviðurinn getur verið pappír, pappi, plast, límband, snæri, garn, borðar svo fátt eitt sé nefnt. 
					Hægt er að skipta efniviði í tvo flokka:
				</p>
				<ul>
					<li>
						Hlutlaus efniviður hefur enga merkingu í sjálfu sér. Hann er hlutlaus og ber einn og sér engin skilaboð. Slíkur efniviður getur gagnast til að gefa innihaldi bókarinnar, t.d. texta eða myndum, aukið vægi. Til að mynda komast skilaboð myndskreytingar betur til skila ef flöturinn sem hún er á er úr hlutlausum efniviði. Þá þarf myndskreytingin ekki að keppast um athygli við bakgrunninn.  
					</li>
					<li>
						Sterkur efniviður hefur með útliti sínu (t.d. lit eða áferð) nú þegar að geyma ákveðin skilaboð. Hafa ber í huga að það er ekki alltaf í þágu heildarverksins að hrúga mikið af sterkum efniviði saman. Þá þarf hann að keppast um athygli innbyrgðis og skilaboðin verða óskýr.Hins vegar getur markmiðið verið að hafa bókina líflega með miklu skrauti og þá er um að gera að prufa sig áfram með ýmsu skrauti.  
					</li>
				<ul>
				<p>
					Hafa ber í huga að þessi skipting er ekki heilög né er um ákveðna forskrift að ræða. Það getur hins vegar verið gott að velta því fyrir sér hvers konar skilaboð okkur finnst tiltekinn efniviður bera og þá hvað hentar bókinni okkar best.
				</p>
				<h3>
					Litir
				</h3>	
				<p>
					Þegar við veljum liti í bókina okkar er gott að spyrja sig hvernig láta þeir okkur líða og er það í samræmi við skilaboð bókarinnar sem við erum að gera?
				</p>
				<p>
					<strong>Áhrif lita:</strong> Litir eru oft sagðir bera tiltekna merkingu eða háfa ákveðin áhrif á fólk. <a href="http://skrif.hi.is/ken203g13-08/litafraedi/ahrif-lita/">Hér</a> má finna dæmi um áhrif hinna ýmsu lita og hvað þeir geta táknað. 
				</p>
				<p>
					<strong>Andstæðir litir:</strong> Litirnir geta líka haft áhrif á hvorn annan og heildarútkomuna. Andstæðir litir æsa til að mynda hvorn annan upp og geta gert bókina meira áberandi heldur en ef keimlíkari litir eru notaðir. Andstæðir litir eru þeir litir sem eru liggja andspænis hvorum öðrum í litahringnum. 
				</p>
				<p>
					<strong>Heitir og kaldir litir:</strong> Við getum kallað fram ákveðið andrúmsloft með því að notast við heita og kalda liti. Til dæmis er hægt að nota eingöngu heita liti eða eingöngu kalda liti, þ.e. heitt eða kalt þema. Við getum líka notað bæði heita og kalda liti til að kalla fram andstæður. 
				</p>
				<p>
					Rauður, appelsínugulur og gulur eru heitir litir. Þeir eru uppörvandi og kraftmiklir. 
				</p>						
				<p>
					Grænblár, blágrænn og blár eru kaldir litir. Þeir eru sterkir, traustir og rólegir.
				</p>
			</div>
		</div>
	</div>
</div>
