<div class="container-fluid">
	<div class="main-spacer">
		<div class="text-wrapper">
			<div class="header">
				<h1>Hvers kyns bækur </h1>
			</div>
			<div class="text-body">

				<p>
					Bækur geta verið af ýmsum toga og erfitt getur reynst að skilgreina hvað felst í orðinu bók. Líklegt er að flestir tengi þfyrirbærið við hina hefðbundnu bók, þ.e. bók sem gefin er út í fjölda eintaka og skrifuð af rithöfundi eða fræðimanni. Handgerða bókin er um margt ólík hinni hefðbundnu bók. Hún hefur að geyma persónulegt handbragð þess sem skapaði hana og er á allan hátt einstök. 
				</p>
				<p>
					Handgerðar bækur geta þjónað ýmsum tilgangi og því er hægt að fara margar leiðir til að flétta bókagerð inn í kennslu hinna ýmsu námsgreina. Sem dæmi má nefna:
										
				</p>
				<ul>
					<li>
						Bækur sem umgjörð um ákveðið verkefni eða viðfangsefni. Þá helst hönnun inntaks og umgjarðar í hendur. 
					</li>
					<li>
						Tómar bækur er hægt að nýta í ýmsum tilgangi. Þær geta verið hugmynda og skissubækur, orðabækur, dagbækur eða bara  bók til að grípa í við lausa stund sem nemendur hafa frjálsar hendur um hvað varðar inntak.
					</li>
					<li>
						Möppur geta verið af ýmsum toga. Ef áhugi er hjá nemendum til að vinna með bókagerð getur verið gott að búa til bókagerðarmöppu. Í henni er hægt að geyma bækur í vinnslu, skissur og þann efnivið sem þeir ætla að nýta til bókagerðarinnar.
					</li>
				</ul>	
								
			</div>
		</div>
	</div>
</div>
