<div class= "container-fluid">
	<div class ="main-spacer">
		<div class="row rowSpacer">
		  	<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
	    		<div class="hover-effect">	
		    		<img class="img-responsive" src ="/images/endalaus/endalausBok.jpg">
		    		<div class = overlay>
		    			<a href ="#/endalaus">Endalaus bók</a></div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
		    	<div class ="hover-effect">
	    			<img class="img-responsive" src ="/images/fanabok/fanabok.jpg">
	    			<div class = overlay>
	  					<a href ="#/fanabok">Fánabók</a>
	  				</div>
	    		</div>
			</div>
			<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
		    	<div class ="hover-effect">
	    			<img class="img-responsive" src ="/images/harmonikka/harmonikka.jpg">
	    			<div class = overlay>
	  					<a href ="#/harmonikka">Harmonikkubók</a>
	  				</div>
	    		</div>
			</div>
		</div>
		<div class="row rowSpacer">
		  	<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
	    		<div class="hover-effect">	
		    		<img class="img-responsive" src ="/images/harmonikkuleikhus/leikhusbok.jpg">
		    		<div class = overlay><a href ="#/harmonikkuleikhus">Leikhús bók</a></div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
		    	<div class ="hover-effect">
	    			<img class="img-responsive" src ="/images/mappa/mappa.jpg">
	    			<div class = overlay>
	  					<a href ="#/mappa">Mappa</a>
	  				</div>
	    		</div>
			</div>
			<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
		    	<div class ="hover-effect">
	    			<img class="img-responsive" src ="/images/saumud/saumudbok.jpg">
	    			<div class = overlay>
	  					<a href ="#/saumudbok">Saumuð bók</a>
	  				</div>
	    		</div>
			</div>
		</div>
	</div>
</div>