<div class= "container-fluid">
	<div class ="main-spacer">
		<div class="row rowSpacer">
		  	<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12" >
	    		<div class="hover-effect">	
		    		<img class="img-responsive" src ="/images/endalaus/endalausBok.jpg">
		    		<div  class = "overlay-thumbnail">
		    			<a href ="" ng-click="getDocument('endalaus')" ><i class="glyphicon glyphicon-download-alt"></i><span > Endalaus bók PDF</span></a>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
		    	<div class ="hover-effect">
	    			<img class="img-responsive" src ="/images/fanabok/fanabok.jpg">
	    			<div class = "overlay-thumbnail">
	    				<a href ="" ng-click="getDocument('fanabok')"><i class="glyphicon glyphicon-download-alt"></i><span> Fánabók PDF</span></a>
	  				</div>
	    		</div>
			</div>
			<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
		    	<div class ="hover-effect">
	    			<img class="img-responsive" src ="/images/harmonikka/harmonikka.jpg">
	    			<div class = "overlay-thumbnail">
	    				<a href ="" ng-click="getDocument('harmonikka')"><i class="glyphicon glyphicon-download-alt"></i><span> Harmonikkubók PDF</span></a>
	  				</div>
	    		</div>
			</div>
		
		
		  	<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
	    		<div class="hover-effect">

		    		<img class="img-responsive" src ="/images/harmonikkuleikhus/leikhusbok.jpg">
		    		<div class = "overlay-thumbnail">
		    			<a href ="" ng-click="getDocument('harmonikkuleikhus')"><i class="glyphicon glyphicon-download-alt"></i><span> Leikhúsbók PDF</span></a>
		    		</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
		    	<div class ="hover-effect">
	    			<img class="img-responsive" src ="/images/mappa/mappa.jpg">
		    		<div class = "overlay-thumbnail">
		    			<a href ="" ng-click="getDocument('mappa')"><i class="glyphicon glyphicon-download-alt"></i><span> Mappa PDF</span></a>
		    		</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
		    	<div class ="hover-effect">
	    			<img class="img-responsive" src ="/images/saumud/saumudbok.jpg">
	    			<div class = "overlay-thumbnail" ng-click="getPdf()">
	  					<a href ="" ng-click="getDocument('saumudbok')"><i class="glyphicon glyphicon-download-alt"></i><span> Sumuð bók PDF</span></a>
	  				</div>
	    		</div>
			</div>
		</div>
	</div>

</div>
