<div class="container-fluid">
	<div class="main-spacer">
		<div class="text-wrapper">
			<div class="header">
				<h1>Sköpun í skólastarfi</h1>
			</div>
			<div class="text-body">

				<p>
					Vefsíðan Bókagerð með börnum er hluti af meistaraverkefninu TITILL VERKEFNIS sem unnið var við Menntavísindasvið Háskóla Íslands. Vefsíðan inniheldur kennsluleiðbeiningar og eru þær hugsaðar fyrir kennara sem vilja auka fjölbreytileika og samættingu námsgreina með því að nýta aðferðir list- og verkgreina í kennslu bóknámsgreina. Í meistararitgerðinni er fjallað um sköpun út frá sjónarhornum sem tengjast námi og kennslu. Meginniðurstöður ritgerðarinnar eru að sköpun snúist um viðhorf sem bæði kennarar og nemendur þurfa að tileinka sér. Þeir þurfa ða sleppa tökunum, taka áhættur og síðast en ekki síst bregða út af vananum. Sköpun getur verið liður í því að nemendur öðlist raunverulegan og persónulegan skilning á því sem fengist er við hverju sinni í öllu skólastarfi. 
				</p>
				<p>
					Óhætt er að segja að bóknámsgreinar feli í sér ýmsa möguleika til sköpunar og ræktunar á henni en til eru fjölmargar kennsluaðferðir sem teljast vel til þess fallnar. Þar á meðal eru innlifunaraðferðir þar sem aðferðir list- og verkgreina eru notaðar í kennslu bóknámsgreina en kostur þess að nota þessar aðferðir er að um leið eru námsgreinar samþættar. Ein leið til að nýta aðferðir list- og verkgreina í kennslu er að kynna bókagerð fyrir nemendum. Nemendur geta svo nýtt þær aðferðir sem þeim hafa verið kenndar og þróað þær áfram eða fléttað inn í úrvinnslu annarra viðfangsefna og verkefna sem þeir koma til með að leysa síðar. 
				</p>
				<p>
					Persónulegar og einstakar handgerðar bækur geta haft yfir sér leyndardómsfullt og heillandi yfirbragð og þegar slík bók er skoðuð má segja að á vissan hátt sé verið að skyggnast inn í hugarheim þess sem skapaði hana. Það getur því verið einstök upplifun að búa til sína eigin bók en einnig að handfjatla og skoða eina slíka. Þeir sem hafa fengist við bókagerð kannast eflaust við þær skapandi úrlausnir sem hún býður upp á sem og þær fjölbreyttu leiðir sem hægt er að fara. Það getur verið vandasamt verk að finna sína leið og tileinka sér tiltekin vinnubrögð og ekki er laust við að það leiði viðkomandi inn í afar krefjandi ferli. 
				</p>
				<p>
					Sá sem fæst við bókagerð þarf að kanna ólíkar útfærslur og mögulegar leiðir til að fara í gegnum ferlið frá upphafi til enda. Það er ekki ólíklegt að viðkomandi reki sig á og þurfi að yfirstíga vanda til að komast á leiðarenda. Þannig er sköpun og mikilvægi ferlisisns í heild órjúfanlegur hluti af bókagerð. Ávinningar þess að líta á ferlið í heild, til jafns við eða umfram áþreifanlegan afrakstur, er að hver og einn skapar sitt ferðalag á leið sinni til setts markmiðs. Þannig getur viðkomandi horft til persónulegs áhuga á efninu og útfært í samræmi við það. 
				</p>
				<p>
					Skapandi hæfileikar okkar eru ólíkir en allir eru þeir jafn verðmætir. Líkt og þegar fengist er við hvaða önnur viðfangsefni fer það eftir styrkleikum og veikleikum þess sem  býr til bókina í hverju mesta áskorunin er fólgin. Jákvætt hugarfar og viðurkenning á því að mistök leiða til framfara getur hins vegar verið allt sem þarf til að yfirstíga öll þau verkefni sem fyrir höndum ber. Ég fór í gegnum gerð þessa verkefnis með skapandi hugsun að leiðarljósi og vonast til að geta deilt þeirri vinnu svo aðrir megi kynnast sjálfum sér og eigin getu í gegnum sköpun.
				</p>
				
			</div>
		</div>
	</div>
</div>
