<div class="container-fluid">
	<div class="main-spacer">
		<div class="text-wrapper">
			<div class="header">
				<h1>Slóðir og heimildir</h1>
			</div>

			<div class ="row rowSpacer">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12>">
					<h3>Vefslóðir</h3>
				</div>
			</div>
			<div class="row rowSpacer">
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12>">
					<a href="http://makingbooks.com/ "><img src="/images/links/makingbooks.jpg"></a>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12>">
					<a href="http://www.philobiblon.com/"><img src="/images/links/philobiblon.jpg"></a>
				</div>
			</div>
			<div class= "row rowSpacer">
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12>">
					<a href="https://arkir.wordpress.com/ "><img src="/images/links/arkir.jpg"></a>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12>">
					<a href="https://aslaugjonsdottir.com/bokverk-book-art/"><img src="/images/links/aslaug.jpg"></a>
				</div>
			</div>
			
			
			<div class ="row rowSpacer">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12>">
					<h3>Bækur</h3>
				</div>
			</div>
			<div class="row rowSpacer">
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12>">
					<a href="https://www.amazon.com/Cover-Creative-Techniques-Beautiful-Journals/dp/093727481X/ref=sr_1_1?s=books&ie=UTF8&qid=1480262366&sr=1-1&keywords=Cover+to+cover+%3A+creative+techniques+for+making+beautiful+books%2C+journals+%26+albums+%2F+Shereen+LaPlantz">
					<img src="/images/links/coverToCover_.jpg"></a>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12>">
					<a href="https://www.amazon.com/Making-Books-Hand-Step-Step/dp/1564963284/ref=sr_1_2?s=books&ie=UTF8&qid=1480262617&sr=1-2&keywords=Making+books+by+hand">
					<img src="/images/links/makingBooksByHand.jpg"></a>
				</div>
			</div>
			<div class= "row rowSpacer">
				
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12>">
					<a href="https://www.amazon.com/Essential-Guide-Making-Handmade-Books/dp/1581800193/ref=sr_1_1?s=books&ie=UTF8&qid=1480262857&sr=1-1&keywords=the+essential+guide+to+making+handmade+books">
					<img src="/images/links/essentialGuideToMakingHandmadeBooks.jpg"></a>
				</div>
			</div>
		</div>
	</div>
</div>
